body{
	background-color: green;
}

#celtics{
	height: 250px;
	width: 250px;
	display: block;
	margin: 0 auto;
}

h1{
	text-align: center;
	font-family: "Comic Sans MS";
}

p{
	text-align: center;
	font-family: "Comic Sans MS";
}

#everest{
	height: 250px;
	width: 250px;
	display: block;
	margin: 0 auto;
}